# Console preference
ipython~=8.25
colorlog~=6.8

cryptography~=42.0
cffi~=1.16

psycopg~=3.1
django~=5.0
djangorestframework~=3.15

requests~=2.32
lxml~=5.2
elasticsearch~=8.14
elastic-transport~=8.13
pydot~=3.0
pygraphviz~=1.13
matplotlib~=3.9
nltk~=3.8
numpy~=2.0
pandas~=2.2
scipy~=1.14

pytest~=8.2
pytest-django~=4.8

gunicorn~=22.0
